
# Testing
alembic
bcrypt==4.0.1
fastapi
gunicorn
httpx
passlib[bcrypt]
psycopg2-binary
pydantic-settings
pydantic[email]
pytest
pytest-asyncio
pytest-cov
python-dotenv
python-jose[cryptography]
python-multipart
python-socketio[asgi]
resend==1.2.0
sentry-sdk>=2.0.0
slowapi
sqlalchemy
uvicorn[standard]
websockets
