fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
websockets
python-dotenv
bcrypt==4.0.1

# Testing
pytest
pytest-cov
pytest-asyncio
httpx
python-socketio[asgi]
slowapi
psycopg2-binary
alembic
sentry-sdk>=2.0.0
